body {
  font-family: 'Rubik', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
